.jumbotron {
    height: 400px;
    background-color: lightgray;
    background-position: center;
}

.myText {
    color: white;
    font-weight: bold;
    position: relative;
    transform: translateY(100px)
}